* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calc {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapers.com/images/hd/labyrinth-on-blank-black-qu7ldvf7f59j1ieq.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
#content {
    background: #202220;
    padding: 20px;
    border-radius: 10px;

}
#content form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}
#backspace {
    background-color: rgb(161, 23, 5);
    color: white;
}
#res {
    padding: 10px;
}
#clear {
    background-color:  rgb(161, 23, 5);
    color: white;
}
form #output {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form #output input {
    text-align: right;
    flex: 1;
    font-size: 25px;
}